@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #000000;
}

html,
body {
  background-color: var(--bg);
  font-family: "Space Grotesk Variable", sans-serif;
  color: #ffffff;
}

img {
  height: fit-content;
}
